<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="container-fluid">
    <div class="center-container">
      <img class="myself" src="img/myself.jpeg">
      <div class="nav-container">
        <div class="row">
          <span class="col-md-4"><a href='/'>PORTFOLIO</a></span>
          <span class="col-md-4"><a href='/about'>ABOUT</a></span>
          <span class="col-md-4"><a href='/contact'>CONTACT</a></span>
        </div>
      </div>
      <div class="page-body">
        <p>I'm Vicky Nguyen and I do software development in San Francisco.</p>
        <p>When I'm not coding, I'm rock climbing, <a href="https://sanfrancisco.dressforsuccess.org/">picking clothes out for people I care about</a>, or rolling with my posse.</p>


      </div>

  </div>


</body>

</html>