<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="container-fluid">
    <div class="center-container">
      <img class="myself" src="img/myself.jpeg">
      <div class="nav-container">
        <div class="row">
          <span class="col-md-3"><a href='/'>PORTFOLIO</a></span>
          <span class="col-md-3"><a href='/about'>ABOUT</a></span>
          <span class="col-md-3"><a href='http://github.com/wickyvinn'>CODE</a></span>
          <span class="col-md-3"><a href='/contact'>CONTACT</a></span>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <p>email: vicky.winn@gmail </p>
          <p>github: <a href="https://github.com/wickyvinn">/wickyvinn</a></p>
          <p>linkedin: <a href="http://linkedin.com/in/wickyvinn">/wickyvinn</a></p>
          <p>twitter: <a href="https://twitter.com/wickyvinn">@wickyvinn</a></p>
          <p>stories: <a href="http://thebunkum.tumblr.com">v.t.maxwell</a></p>
        </div>
      </div>

  </div>


</body>

</html>