<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="container-fluid">
    <div class="center-container">
      <img class="myself" src="img/myself.jpeg">
      <div class="nav-container">
        <div class="row">
          <span class="col-md-3"><a>HOME</a></span>
          <span class="col-md-3"><a>ABOUT</a></span>
          <span class="col-md-3"><a>PORTFOLIO</a></span>
          <span class="col-md-3"><a>CONTACT</a></span>
        </div>
      </div>
      <div class="icons-container">

        <div class="row">
          <span class="col-md-4"><img class="portfolio-icon" src="img/climbr-logo.png" onmouseover="this.src='/img/climbr-page.png'" onmouseout="this.src='/img/climbr-logo.png'"></span>
          <span class="col-md-4"><img class="portfolio-icon" src="img/secret-santa-logo-2.png" onmouseover="this.src='/img/secret-santa-page-2.png'" onmouseout="this.src='/img/secret-santa-logo-2.png'"></span>
          <span class="col-md-4"><img class="portfolio-icon" src="img/pink-heart.png" onmouseover="this.src='/img/wear-page.png'" onmouseout="this.src='/img/pink-heart.png'"></span>
        </div>

        <div class="row">
          <span class="col-md-4"><img class="portfolio-icon" src="img/versal-logo.png"></span>
          <span class="col-md-4"><img class="portfolio-icon" src="img/say-on-pay.jpg"></span>
          <span class="col-md-4"><img class="portfolio-icon" src="img/woody-allen.jpg"></span>
        </div>

      </div>
    </div>
  </div>
</body>

</html>