<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="container-fluid">
    <div class="center-container">
      <img class="myself" src="img/myself.jpeg">
      <div class="nav-container">
        <div class="row">
          <span class="col-md-3"><a href='/'>WORK</a></span>
          <span class="col-md-3"><a href='/about'>ABOUT</a></span>
          <span class="col-md-3"><a href='http://github.com/wickyvinn'>CODE</a></span>
          <span class="col-md-3"><a href='/contact'>CONTACT</a></span>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <span class="col-md-4"><img class="portfolio-icon" id="climbr" src="img/climbr-logo-2.png"></span>
          <span class="col-md-4"><img class="portfolio-icon" id="secret-santa" src="img/secret-santa-logo-2.png"></span>
          <span class="col-md-4"><img class="portfolio-icon" id="daftowear" src="img/pink-heart.png"></span>
        </div>

        <div class="row">
          <span class="col-md-4"><img class="portfolio-icon" id="versal" src="img/versal-logo-1.png"></span>
          <span class="col-md-4"><img class="portfolio-icon" id="gl" src="img/gl-logo.jpg"></span>
          <span class="col-md-4"><img class="portfolio-icon" id="cal" src="/img/woody-allen.jpg"></span>
        </div>


      </div>
      <p style="font-style:italic;">design copied from <a href="http://bobbymckenna.us/">Bobby McKenna</a> because I'm design illiterate. </p>
      
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span id="title"></span></h4>
        </div>
        <div class="modal-body">
          <div class="preview">
            <a id="left" class="glyphicon glyphicon-arrow-left"></a>
            <img id="preview-image"></img>
            <a id="right" class="glyphicon glyphicon-arrow-right"></a>
          
          </div>
          <div id="technologies"></div>
          <br><div id="description"></div>
          <br><a id="link"></a>
        </div>
      </div>
    </div>
  </div>

<script>
  var currentIcon;
  var iconSrcArray;

  $('#right').click(function() {
    if (currentIcon < (iconSrcArray.length -1)) {
      currentIcon += 1;
      $('#preview-image').attr("src", iconSrcArray[currentIcon])
    };
  });

  $('#left').click(function() {
    if (currentIcon !== 0) { 
      currentIcon -= 1;
      $('#preview-image').attr("src", iconSrcArray[currentIcon])
    };
  });

  function populateThenShowModal(body, iconssrc) {
    $('#title').html(body.title);
    $('#technologies').html(body.technologies);
    $('#description').html(body.description);
    $('#link').html(body.linkText).attr('href', body.link);

    iconSrcArray = body.iconssrc;
    $('#preview-image').attr("src", iconSrcArray[0])
    currentIcon = 0;
    $('#modal').modal('show');
  };

  $("#climbr").click(function() {

    var body = {
      'title': 'Tinder for rock climbers.',
      'technologies':'javascript | node.js | mongodb | aws | heroku', 
      'description': 'A cross-platform app. A tinder for rock climbers, of sorts - a GPS-based matching program that matches climbers in the area with other climbers who need a someone to climb with. The only hooking up that happens here, though, is with a quick-draw.',
      'link': 'http://climbr.herokuapp.com/',
      'linkText':'http://climbr.herokuapp.com/ is best viewed on mobile.',
      'iconssrc': ['/img/climbr-page-1.png', '/img/climbr-page-2.png', '/img/climbr-page-5.png', '/img/climbr-page-3.png', '/img/climbr-page-4.png']
    };

    populateThenShowModal(body, body.iconssrc);
    
  });

  $("#secret-santa").click(function() {

    var body = {
      'title': 'Assign secret santas among your friends!',
      'technologies':'javascript | node.js | jquery | ajax | heroku',
      'description': "A web application that allows friends to assign secret santas. It includes a random name-drawing generator and an automated email service.",
      'link': 'http://secretsantyclaus.herokuapp.com/',
      'linkText':'http://secretsantyclaus.herokuapp.com/',
      'iconssrc':['/img/secret-santa-page-3.png', '/img/secret-santa-page-2.png', '/img/secret-santa-page-4.png']
    };

    populateThenShowModal(body, body.iconssrc);
  });

  $("#daftowear").click(function() {

    var body = {
      'title': 'DaFShouldIWear',
      'technologies':'python | flask | postgres | javascript | web scraping',
      'description': "A web application that produces recommendations on what to wear based on style and your location's weather. You can then shop pieces of the outfit (or variations of pieces that suit you better) via links provided to various ecommerce sites.",
      'link': 'https://github.com/wickyvinn/WhatShouldIWear',
      'linkText':'View on github',
      'iconssrc': ['/img/wear-page-2.png', '/img/wear-page.png']
    };

    populateThenShowModal(body, body.iconssrc);

  });

  $("#versal").click(function() {

    var body = {
      'title': 'Versal: Nov 2013-2014',
      'technologies':'scala | mysql | restful api services | unit testing',
      'description': "Built backend services and RESTful API in scala for an online, interactive course creator. Contributed by adding RESTful endpoints, designing relational data model and identity service, and refactoring backend structure from in-memory model to sql database.",
      'link': 'https://versal.com/',
      'linkText': 'https://versal.com/',
      'iconssrc': ['/img/versal-logo-2.png']
    };

    populateThenShowModal(body, body.iconssrc);

  });

  $("#gl").click(function() {

    var body = {
      'title': 'Glass Lewis & Co: Feb 2012 - June 2013',
      'technologies':'python | mysql | relational database design | data collection & visualization | research | management',
      'description': "Acted as primary administrator in the development and maintenance of models and database used by research teams for compensation program analysis and data collection for domestic/international markets. Utilized Python/Matplotlib/SQL/Thomson One Banker/Excel to drive data collection, visualization, and efficient reporting.",
      'link': 'http://www.glasslewis.com/',
      'linkText': 'http://www.glasslewis.com/',
      'iconssrc': ['/img/say-on-pay.jpg']
    };

    populateThenShowModal(body, body.iconssrc);

  });

  $("#cal").click(function() {

    var body = {
      'title': 'UC Berkeley',
      'technologies':"B.A.'s in Applied Math and English | 2010",
      'description': "",
      'link': '/img/woody-essay.pdf',
      'linkText': 'FASCIST ART IN A POST-MODERN ERA: Woody Allen and the Cult of New York',
      'iconssrc': ['img/cal-logo.png']
    };

    populateThenShowModal(body, body.iconssrc);

  });

</script>


</body>

</html>