<!doctype html>
<html>
<head>
  <link href="css/paper-resume.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="feedback">
    <a href="../img/Victoria Nguyen, Resume.pdf">VIEW AS PDF</a>
  </div>
<div id="header" class="dotted">
  <div id="inside-header">
    <div id="name">victoria nguyen</div>
    <div id="contact">714.350.4762 | vicky.winn@gmail.com | <a href="http://github.com/wickyvinn">github.com/wickyvinn</a></div>
  </div>
</div>

<div id="skills-section" class="sub-section">
  <div class="sub-header">skills</div>
  <table>
    <tr>
      <td class="skills-description">languages:</td>
      <td class="skills-right">python, scala, sql, javascript, bash, html, css</td>
    </tr>
    <tr>
      <td class="skills-description">libraries/frameworks:</td>
      <td class="skills-right">node.js, mongodb, flask, jquery, ajax, postgres</td>
    </tr>
    <tr>
      <td class="skills-description">operations:</td>
      <td class="skills-right">heroku, aws, jenkins</td>
    </tr>
    <tr>
      <td class="skills-description">other:</td>
    <td class="skills-right">RESTful api services, integration tests, database design, web scraping</td>
    </tr>
  </table>
    
</div>


<div id="experiences" class="sub-section">
  <div class="sub-header">experience</div>
  
  <div id="Versal" class="sub-sub-section">
    <table>
      <tr>
        <td class="sub-sub-header">VERSAL</td>
        <td class="experience-right first">San Francisco, CA</td>
      </tr>
      <tr> 
        <td class="job-title">Software Engineer</td>
        <td class="experience-right second">Nov 2013 - Nov 2014</td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="content">
          <li>Built backend services for Versal's REST-api </li>
          <li>Added features including learner tracking and Versal's SDK gadget versioning system "gadget palette"</li>
          <li>Implemented continuous deployment and automated testing for staging environment of mobile app backend </li>
          <li>Refactored in-memory/command log model to a persistent mysql database for the Versal rest-api. Designed database, built validations to test for discrepancies, and refactored code to a slimmer, state monad-based api</li>
        </td>
      </tr>
    </table>
  </div>


  <div id="glass-lewis" class="sub-sub-section">
    <table>
      <tr>
        <td class="sub-sub-header">GLASS, LEWIS & CO.</td>
        <td class="experience-right first">San Francisco, CA</td>
      </tr>
      <tr> 
        <td class="job-title">Manager of Executive Compensation</td>
        <td class="experience-right second">Feb 2011 - June 2013</td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="content">
        <li>Developed and maintained a desktop client that collected and analyzed data company-wide 
        <li>Built and designed data visualization applications for reporting c-suite executive pay </li>
        <li>Implemented web scraping and other data collection scripts, automating data collection and making available yearly executive pay data of over 2000 companies</li>
        <li>Wrote special reports analyzing executive pay at companies across domestic and international markets and was featured on numerous financial publications </li>
        <li>Trained and managed a team of proxy research associates</li>
        </td>
      </tr>
    </table>
  </div>

</div>


<div id="projects" class="sub-section">
  <div class="sub-header">projects</div>
  
  <div id="climbr" class="sub-sub-section">
    <table>
      <tr>
        <td class="sub-sub-header">CLIMBR</td>
        <td class="experience-right first">IN PROGRESS</td>
      </tr>
    </table>
    <table>
      <tr> 
        <td class="content">
          <li>Building a mobile browser application enabling athletes in the rock climbing community find and connect with other climbers in their proximity based on specific climbing interests and skill level </li>
          <li>Includes a messaging feature and photo editor </li>
        demo: <a href="http://climbr.herokuapp.com">climbr.herokuapp.com</a>
        </td>
      </tr>
    </table>
  </div>


  <div id="dafshouldiwear" class="sub-sub-section">
    <table>
      <tr>
        <td class="sub-sub-header">WHATSHOULDIWEAR</td>
        <td class="experience-right first">created during Hackbright</td>
      </tr>
    </table>
    <table>
      <tr> 
        <td class="content">
          <li>A web application that algorithmically constructs fashionable outfits based on weather and personal style inputs </li>
          <li>Web scraped ecommerce websites to integrate experience with shopping for clothing products online</li>
        code: <a href="http://github.com/wickyvinn/WhatShouldIWear">github.com/wickyvinn/WhatShouldIWear</a>
        </td>
      </tr>
    </table>
  </div>

</div>

<div id="education" class="sub-section">
  <div class="sub-header">education</div>
  
  <div id="hb" class="sub-sub-section">
    <table>
      <tr>
        <td class="sub-sub-header">HACKBRIGHT ACADEMY</td>
        <td class="experience-right first">San Francisco, CA</td>
      </tr>
      <tr> 
        <td class="job-title">Software Engineering Fellow</td>
        <td class="experience-right second">June 2013 - Aug 2013</td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="content">
          <li>Attended a selective programming fellowship that introduces software engineering through building pythonic web applications</li>
          <li>Created and demoed a web application to thirty companies on a end-of-fellowship career day</li>
        </td>
      </tr>
    </table>
  </div>


  <div id="cal" class="sub-sub-section">
    <table>
      <tr>
        <td class="sub-sub-header">UNIVERSITY OF CALIFORNIA, BERKELEY</td>
        <td class="experience-right first">2006 - 2011</td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="content">
          <li>B.A. Applied Mathematics with emphasis in Economics</li>
          <li>B.A. English</li>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="education" class="sub-section">
  <div class="sub-header">ALSO LIKES</div>
<div class="content"> rock climbing, writing prose/poetry, piano, & personal shopping for <a href="https://sanfrancisco.dressforsuccess.org/">dressforsuccess.org</a></div>
</div>

<div id="header" class="dotted">

</body>
</html>
