a { color: #00CC99; }
a:hover { color: #FF00CC; }
a:active { color: #FF00CC; }

.myself {
  width: 10%;
  border-radius: 100%;
}

.nav-container {
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  font-size: 1.5em;
}

.center-container {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}

.page-body {
  padding-top: 5%;
}

.portfolio-icon {
  width: 100%;
}

.row {
  padding-top: 3%;
}