a { color: #00CC99; }
a:hover { color: #FF00CC; }
a:active { color: #FF00CC; }

.myself {
  width: 12%;
  border-radius: 100%;
}

.nav-container {
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  font-size: 1.5em;
}

.center-container {
  padding: 5%;
  text-align: center;
}

.page-body {
  padding-top: 3%;
  padding-bottom: 10%;
}

.portfolio-icon {
  width: 100%;
  padding: 4%;
}

.portfolio-icon:hover {
  border-width: 1px;
  border-color: #00CC99;
  border-style: solid;
}

.row {
  padding-top: 3%;
}

.modal-body img {
  width: 60%;
  padding: 3%;
  margin: 0 4% 4% 4%;
  border-style: solid;
  border-color: #CCD6E0;
  border-width: 1px;
  border-radius: 5px;
}

.preview, #technologies, .modal-title, #link {
  text-align: center;
}

#technologies {
  font-style: italic;
}

#left, #right {
  font-size: 1.5em;
}

span[class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}